body{
    background-color: rgb(49, 130, 206);
}
.card{
    width: 462px; 
    height: 240px;
    border-radius: 30px;
    background-image: url(../Banking-App/img-card/Background.png);
    background-repeat: no-repeat;
    background-size: contain;
    padding: 30px;
    margin-right: 24px;
}

.card-data{
    width: 462px; 
    align-content: center;
    padding-top: 70px;
    padding-bottom: 36px;
}
.card-number{
    font-size:24px;
    color: white;
    font-weight: bold;
}
.info-card{
    display: inline-block;
    font-size: 10px;
    color: white;
}
.info-card1{
    display: inline-block;
    font-size: 10px ;
    margin: 20px;
    color: white;
}
.text-card{
    font-size: 14px;
    margin-top: 5px;
    font-weight: bold;
}
.logo-data{
   float: right;
}
.salary{
    width: 240px;
    height: 240px;
    background-color: white;
    border-radius: 20px;
    padding: 10px;
    text-align: center;
}

.img-salary, .img-score{
    padding-top: 30px;
    padding-bottom: 22px;
}
.walet-info, .score-info{
    font-size: 18px;
    font-weight: bold;
}
.walet-inter, .score-inter{
    font-size: 12px;
    font-weight: bold;
    padding-top: 4px;
    margin-bottom: 14px;
    color: rgb(160, 174, 192);
}
.cards-info{
    display: flex;
    padding: 30px;
    margin: 20px;
}
.score{
    width: 240px;
    height: 240px;
    background-color: white;
    border-radius: 20px;
    padding: 10px;
    margin-left: 24px;
    text-align: center;
}