footer {
  padding: 20px 37px;
}

.footerlinks {
  width: fit-content;
  margin-left: auto;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  gap: 36px;
}

.footerlinks a {
  color: #a0aec0;
}

.footerlinks a:hover {
  text-decoration: underline;
}
