footer{
    background-color: #F7FAFC;
    padding: 20px 37px;
}


.footerlinks{
    width: fit-content;
    margin-left: auto;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    gap: 36px;
}

.footerlinks a{
    color: #A0AEC0;
}

.footerlinks a:hover{
    text-decoration: underline;
}