html {
    font-family: Helvetica, sans-serif;
}
main {
    display: flex;
}

.content {
    margin-left: 40px;
    display: flex;
    flex-direction: column;
}

.content-1 {
    display: flex;
    margin-bottom: 20px;
    gap:20px
}


.content-2 {
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    gap: 30px;
}

.upper-index {
    z-index: 1;
}

.invisible-beauty {
    background-color: #3182ce;
    width: 100%;
    height: 320px;
    position: absolute;
    z-index: 1;
}
